---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const experience: { desc: string; title: string }[] = [
	{
		desc: "The Innovation Lab (Formerly, Microsoft Innovation Lab)",
		title: "Summer Intern",
	},
	{
		desc: "Centre of Data Modelling, Analytics and Visualization (CoDMAV)",
		title: "Program Director",
	},
	{
		desc: "IIT Indore",
		title: "Research Intern",
	},
	{
		desc: "PeopleplusAI",
		title: "Machine Learning Engineer",
	},
];
const skills: { desc: string; title: string }[] = [
	{
		desc: "Python, C, Java, Julia, Golang, JavaScript",
		title: "Programming Languages",
	},
	{
		desc: "Tensorflow, PyTorch, OpenCV, LlamaIndex, Langchain, Keras, Spacy, FastAI, MLFlow, Docker, Kubernetes",
		title: "Tools",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi folks! I am an ML Engineer, a (simple) cook, and also a huge foodie. I enjoy reading tons of research papers, building communities, networking and jamming to variety of music. 
			I am passionate about Machine Learning, Deep Learning, Generative AI. I am currently exploring Systems Engineering and (trying to build stuff back in Full Stack Development). 
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Experience</h2>
		<dl class="space-y-4">
			{
				experience.map(({ desc, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Skills</h2>
		<dl class="space-y-4">
			{
				skills.map(({ desc, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link"  rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
